@use '../style_variables.scss' as styles;

:host {
    margin: 50px;
}

.back {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    background-color: inherit;
    width: 80px;
    color: styles.$base-godel-color;
    text-decoration: none;
}

.markdown-wrapper {
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 10px;

    .markdown-header {
        border-bottom: 1px solid rgba(0, 0, 0, .2);
        display: flex;
        align-items: center;
        color: styles.$base-godel-color;
        height: 60px;
        padding-left: 30px;
    }

    .markdown-body {
        padding: 30px;
    }
}