:host {
    background-color: #fafafa;
    display: flex;
    flex-direction: column;
    position: absolute;
    inset: 64px 0 0;
    color: rgba(0, 0, 0, 0.87);

    ::ng-deep > router-outlet + * {
        flex: 1;
    }
}

.mat-toolbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

.main-container {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.logo {
    margin: 60px auto 20px 50px;
    width: 412px;
}

.spacer {
    flex: 1;
}

.label {
    padding: 0 15px;
}

.github-logo {
    vertical-align: middle;
}
