<mat-form-field>
    <mat-icon color="primary" matPrefix aria-label="Search">search</mat-icon>
    <input matInput placeholder="Search" [formControl]="searchControl" />
</mat-form-field>

<mat-list>
    <mat-list-item *ngFor="let repository of filteredRepositoryList">
        <div class="item-wrapper">
            <div class="name-container">
                <span class="repo-name">{{ repository.name }}</span>
                <span *ngIf="repository.language" class="repo-language">
                    <span class="language" [style.background-color]="getColor(repository.language)"></span>
                    {{ repository.language }}
                </span>
            </div>
            <div class="description-container">
                <a target="_blank" [href]="repository.html_url + '/issues'">
                    <img [src]="getImageUrl('issues-raw', repository.name)" alt="issues">
                </a>
                <a target="_blank" [href]="repository.html_url + '/pulls'">
                    <img [src]="getImageUrl('issues-pr-raw', repository.name)" alt="pulls">
                </a>
                <a target="_blank" [href]="repository.html_url">
                    <img [src]="getImageUrl('last-commit', repository.name)" alt="last-commit">
                </a>
                <a target="_blank" [href]="repository.html_url">
                    <img [src]="getImageUrl('license', repository.name)" alt="license">
                </a>
            </div>
        </div>
    </mat-list-item>
</mat-list>