<mat-form-field>
    <mat-icon color="primary" matPrefix aria-label="Search">search</mat-icon>
    <input matInput placeholder="Search" [formControl]="searchControl" />
</mat-form-field>

<mat-list>
    <mat-list-item *ngFor="let repository of filteredRepositoryList">
        <div class="item-wrapper">
            <div class="name-container">
                <span class="repo-name">{{ repository.name }}</span>
                <span *ngIf="repository.language" class="repo-language">{{ repository.language }} language</span>
            </div>
            <div *ngIf="repository.description" class="description-container">
                <span class="label">Description:</span>
                <span class="description"> {{ repository.description }} </span>
            </div>
        </div>
    </mat-list-item>
</mat-list>